<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>hatanakay.alfred-ghq-open</string>
	<key>connections</key>
	<dict>
		<key>965E2A48-E956-40C4-B105-A4F989FDB20F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42DE199F-0AA8-4298-9998-3E4707DB44EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>hatanakayalfred-ghq-open</string>
	<key>description</key>
	<string>open url with ghq list</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ghq</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>ghq</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>export PATH=$PATH:~/develop/bin
./workflow "{query}"</string>
				<key>title</key>
				<string>ghq list</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>965E2A48-E956-40C4-B105-A4F989FDB20F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>42DE199F-0AA8-4298-9998-3E4707DB44EA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>42DE199F-0AA8-4298-9998-3E4707DB44EA</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>965E2A48-E956-40C4-B105-A4F989FDB20F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/hatanakay/</string>
</dict>
</plist>
